@using Northwind.Models
@model Contact

@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-action="Index">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter Name"/>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Enter Email" />
        </div>
    </div>
<button type="submit"  class="btn btn-primary">Contact</button>
</form>

