@using Northwind.Models
@model IEnumerable<Product>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col" class="text-right">Price</th>
            <th scope="col" class="text-right">Stock</th>
        </tr>
    </thead>
    <tbody id="product_rows">
        @foreach (Product p in Model)
        {
        <tr>
            <td>@p.ProductName</td>
            <td class="text-right">@string.Format("{0:c}", p.UnitPrice)</td>
            <td class="text-right">@p.UnitsInStock</td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
    // Turn off ESLint (Windows): Tools - Options - Text Editor - Javascript - Linting
    $(function () {
        getProducts()

        function getProducts() {
            $.getJSON({
                url: "../../api/product",
                success: function (response, textStatus, jqXhr) {
                    //console.log(response);
                    $('#product_rows').html("");
                    for (var i = 0; i < response.length; i++){
                        var row = "<tr>"
                            + "<td>" + response[i].productName + "</td>"
                            + "<td>" + response[i].unitPrice + "</td>"
                            + "<td>" + response[i].unitsInStock + "</td>"
                            + "</tr>";
                        $('#product_rows').append(row);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // log the error to the console
                    console.log("The following error occured: " + textStatus, errorThrown);
                }
            });
        }
    });
    </script>
}
